<svg
  aria-hidden="true"
  aria-label="espn"
  color="#f9f9f9"
  role="img"
  transform=""
  version="1.1"
  viewBox="0 0 36 36"
  xmlns="http://www.w3.org/2000/svg"
  data-route="ESPN"
  class="w-6 fill-white"
  ><title></title><path
    d="M30.6896 6L29.8021 12.7324H7.2863L8.14092 6H30.6896Z M6.95735 15.2885H29.4731L28.75 20.8676H14.6489L14.2873 23.6105H28.4213L27.5667 30H5.0509L6.95735 15.2885Z"
    class="sc-Rmtcm cUjquv"></path></svg
>
